	<article class="post-item">
		<p>You Said It! currently has {{ site.total_sticker_cnt }} phrases &amp; replies that you can use to quickly respond to your friends and family with.</p>

		<h4>Currently:</h4>
		<ul>
			<li>{{ site.free_sticker_cnt }} free stickers</li>
			<li>{{ site.more_sticker_cnt }} more premium stickers</li>
		</ul>

		<p>A single in-app-purchase of the 'more stickers' package will grant access to ALL of the stickers we have to offer. This includes stickers we add in the future.</p>

		<h4>Instructions:</h4>
		<ul>
			<li>To access iMessage apps, open a message to a friend and tap the iMessage App Store icon next to the compose field.</li>
			<li>The current iMessage app name will appear at the bottom.</li>
			<li>Tap the four oval icon on the lower left corner to open the app drawer.</li>
			<li>Swipe left until you find 'You Said It!', then tap the app to open it.</li>
			<li>If the 'You Said It!' app isn't there (and you've already downloaded it), then you'll need to enable it.
				<ul>
			  	<li>Goto the iMessage store on the first page from the list of iMessage apps.</li>
		  		<li>Click the 'Manage' tab.</li>
		  		<li>Scroll through the list and enable the 'You Said It!' app, then continue from the previous step.</li>
	 			</ul>
			</li>
			<li>Click 'Free' to view &amp; use the free stickers package. Click 'More' to preview or use the more stickers package.</li>
			<li>Tap a sticker to send as a new message.</li>
			<li>Tap &amp; drag stickers over a previous message to place them on top of the message (or other stickers).</li>
		</ul>

		<p>Like our stickers? Want more stickers and features? Write a positive review of our sticker package to encourage us to make more stickers and add more features!</p>
	</article>
</ul>
