<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% if page.title %}{{ site.title }} | {{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300i,400i,600">
	<link href='https://fonts.googleapis.com/css?family=Roboto+Mono:400,100italic,300italic,300' rel='stylesheet' type='text/css'>

	{% if site.heading_font %}
		<link href='https://fonts.googleapis.com/css?family={{ site.heading_font }}:400,600' rel='stylesheet' type='text/css'>
		{% assign header_font = site.heading_font %}
	{% else %}
		<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
		{% assign header_font = 'Lobster' %}
	{% endif %}
	<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
	<!-- <script src="https://use.fontawesome.com/bd76fcdf1c.js"></script> -->
</head>
<body>
	<div id="wrapper">
		<div id="main">
			<nav class="nav">
				<div class="container">
	  			<a href="{{ site.baseurl }}">
						<h1 style="font-family: {{ header_font }}" class="logo">
							<img class="profile-picture" src="{{ site.profile_picture | prepend: site.baseurl }}" />
							{{ site.title }}
						</h1>
					</a>
	  			<ul class="navlist">
						<li>
							<a href="https://itunes.apple.com/us/app/you-said-it/id1224998972?mt=8" style="display:inline-block;overflow:hidden;background:url(//linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:135px;height:40px;background-size:contain;"></a>
							<!-- <a href="{{ site.appurl }}"><i class="fa fa-apple" aria-hidden="true"></i> view it on the app store</a> -->
						</li>
	  			</ul>
	  		</div>
			</nav>
			{{ content }}
		</div>
		<div id="footer">
			{% include footer.html %}
		</div>
	</div>
</body>
</html>
